* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#root {
    height: 100%;
}

.neighbourhood-header{
    margin: 0;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.88);
    text-align: center;
    font-size: 15px;
}

.hamburger-menu {
    width: 5%;
    max-width: 50px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    top: 28px;
    left: 10px;
    position: relative;
}

.hamburger-father:hover {
    cursor: pointer;
}

.neighbourhood-p{
    width: 90%;
}

#root {
    overflow: hidden;
}

.map-container {
    height: calc(100vh - 73px);
    position: relative;
    transition: margin-left .3s;
}

#map {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 0px);
    overflow: hidden;
}

.adjust-map {
    margin-left: 300px !important;
}

.locations-list-container {
    position: relative;
    background-color: yellow;
}

.nav-menu {
    width: 0;
    z-index: 1;
    position: fixed;
    top:72px;
    left: 0;
    height: calc(100% - 72px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.88);
    transition: width .3s ease;
}

.nav-wrapper {
    padding: 10px;
}

.filter-container {
    width: 273px;
    margin: 5px auto 15px;
    background-color: white;
}

.filter-container input {
    width: 85%;
    padding: 5px;
    font-size: 16px;
    outline: none;
    border: 0px;
}

.places-list {
    width: 273px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.places-list-item {
    font-size: 16px;
    text-align: left;
    padding: 5px 5px 5px 7px;
    color: grey;
    margin-bottom: 12px;
    transition: color .5s;
}

.active {
    background-color: rgb(39, 35, 35);
    border-left: 2px solid orange;
    padding-left: 5px;
    color: white;
}

.places-list-item:hover {
    background-color: rgb(39, 35, 35);
    border-left: 2px solid yellow;
    padding-left: 5px;
    color: white;
    cursor: pointer;
}


.open-nav {
    width: 300px !important;
    margin-top: 12px;
}


@media screen and (max-width: 371px) {
    .map-container {
        height: calc(100vh - 109px);
    }

    .nav-menu {
        top: 108px;
        height: calc(100% - 108px);
    }

    .open-nav {
        width: 255px !important;
    }

    .location-list {
        width: 228px !important;
    }

    .filter-container {
        width: 228px !important;
    }
}

@media screen and (max-width: 650px) {
    .adjust-map{ 
        margin-left: 0 !important;
    }

    .hamburger-menu {
        width: 7%;
    }

    .neighbourhood-p {
        margin-left: 20px;
    }
}
